* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

html, body {
    overflow-x: hidden;
}

body {
    font-family: sans-serif;
    min-height: 100vh;
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
    font-size: 10px;
    overflow: hidden;
    background-color: #1C2028;
    color: white;
}

.temp-title {
    font-size: 24px;
    margin: 5px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
}

main {
    flex-grow: 1;
}

footer {
    flex-shrink: 0;
}

.container {
    margin: auto;
    padding: 0 15px;
    max-width: 1430px;
}